<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../../styles/styles.css" rel="stylesheet"/>
    <link href="../../../../../styles/bootstrap.css" rel="stylesheet"/>
    <script src="../../../../js/jquery.min.js"></script>
    <script src="../../../../js/bootstrap.bundle.min.js"></script>
</head>
<body>


<div class="container">
    <header th:insert="blocks/header :: header"></header>
    <h1>MES PM <br />  Manufacturing Execution System <br /> Process Management </h1>
    <div th:insert="blocks/footer :: footer"></div>
</div>


</body>
</html>