<html xmlns:th="http://thymeleaf.org">
<head>
    <title>My first page</title>
    <link href="../../../../styles/bootstrap.css" rel="stylesheet"/>
    <link href="../../../../styles/styles.css" rel="stylesheet"/>
    <script src="../../../../js/jquery.min.js"></script>
    <script src="../../../../js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <header th:insert="blocks/header :: headerfirst"></header>
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1>Sensors</h1>
                    <p class="lead">First page for work with sensors</p>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6">
                </div>
            </div>
        </div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>
