<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../../styles/styles.css" rel="stylesheet"/>
    <link href="../../../../../styles/bootstrap.css" rel="stylesheet"/>
    <script src="../../../../js/jquery.min.js"></script>
    <script src="../../../../js/bootstrap.bundle.min.js"></script>
</head>
<body>
<br/>
<div class="container">
    <header th:insert="blocks/header :: header"></header>
    <div class="form-wrapper">
        <form action="#" th:object="${dto}" method="post">
            <div class="form-group">
                <label for="userName">User name:</label> <input
                    id="username" class="form-control" type="text"
                    th:field="*{userName}" required/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label> <input
                    id="password" class="form-control" type="password"
                    th:field="*{password}" required/>
            </div>
            <br/>
            <div class="double-button-wrapper">
                <input type="submit" value="Submit" class="btn btn-primary"/>
                <input type="reset" value="Reset" class="btn btn-danger"/>
            </div>
        </form>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>