<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Users page</title>
    <link href="../styles/styles.css" rel="stylesheet"/>
    <link href="../styles/bootstrap.min.css" rel="stylesheet"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<div class="container">
    <div>
        <h1>Update user</h1>
    </div>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">personal page</div>
        <div class="card-body">
            <form action="#" th:action="@{upd}" th:object="${user}" method="post" enctype="multipart/form-data">
                <p>User name<input id="firstName" type="text" th:field="*{username}" class="form-control" placeholder="Username" required/></p>
                <input id="salary" type="text" th:field="*{salary}" class="form-control" placeholder="Salary" required/>
                <input id="my-file-selector" name="file" type="file"/>
                <input type="submit" value="Submit" class="btn btn-success"/>
            </form>
            <br/>
        </div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>

<!--
 class="form-control"

-->

</body>
</html>