<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Users page</title>
    <link href="../../../../styles/bootstrap.css" rel="stylesheet"/>
    <link href="../../../../styles/styles.css" rel="stylesheet"/>
    <script src="../../../../js/jquery.min.js"></script>
    <script src="../../../../js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
    <header th:insert="blocks/header :: header"></header>


    <div>
        <h2 th:text="${title}"/>
    </div>
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">Row</th>
            <th scope="col">NickName</th>
            <th scope="col">email</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Link</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="oneuser : ${usersList}" class="table-secondary">
            <th scope="row"></th>
            <td><p th:text="${oneuser.userName}"/></td>
            <td><p th:text="${oneuser.email}"/></td>
            <td><p th:text="${oneuser.firstName}"/></td>
            <td><p th:text="${oneuser.lastName}"/></td>
            <td><a th:href="@{'users/'+${oneuser.id}}" type="button" class="btn btn-info btn-sm">More info</a></td>
            <td><a th:href="@{'users/upd/' + ${oneuser.id}}" class="btn btn-success btn-sm">Edit</a></td>
            <td>
                <a th:href="@{'users/remove/' + ${oneuser.id}}" method="post" class="btn btn-danger btn-sm">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="/users/add">Add new user</a>
</div>

</body>
</html>