<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Users page</title>
    <link href="../../../../styles/styles.css" rel="stylesheet"/>
    <link href="../../../../styles/bootstrap.css" rel="stylesheet"/>
    <script src="../../../../js/jquery.min.js"></script>
    <script src="../../../../js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
    <header th:insert="blocks/header :: header"></header>
    <div>
        <h2>Add user</h2>
    </div>
    <div class="user-wrapper">
        <form action="#" th:action="@{add}" th:object="${user}" method="post">
            <p>User name<input id="userName" type="text" th:field="*{userName}" class="form-control" required/></p>
            <p>Email<input id="email" type="text" th:field="*{email}" class="form-control" required/></p>
            <p>Password<input id="password" type="password" th:field="*{password}" class="form-control" required/></p>
            <p>First name<input id="firstName" type="text" th:field="*{firstName}" class="form-control" required/></p>
            <p>Last name<input id="lastName" type="text" th:field="*{lastName}" class="form-control" required/></p>
            <input type="submit" value="Submit" class="btn btn-success"/>
        </form>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</div>
</body>
</html>